*.sfc
*.sw[a-p]
*.o
*~
*.chrgb
*.chrsfc
*.chr
/obj/snes/*.s
/obj/snes/*.wav
/zip.in
/map.txt
/spcmap.txt
/lorom-template.sfc
/lorom-template.spc
/lorom-template-*.zip
__pycache__/
*.pyc

# this is Super NES homebrew, not DSiWare
*.DS_Store



graphics.s
*.lnk
src/blockenum.s
src/blockdata.s
src/paletteenum.s
src/palettedata.s
src/actorenum.s
src/actordata.s
src/graphicsenum.s
*.driveupload
src/leveldata.s
*.dbg
Mesen-S.exe
src/levelenum.s
levels/*.bin
auto_linker.cfg
*.lz4
src/itemdata.s
*.namsfc
*.sym
src/sincos_data.s
audio/audio_common.bin
audio/songs/*.bin
src/audio_enum.inc
src/audio_incbins.s
